*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/codeStyles/Project.xml
.gitignore
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/misc.xml
app/libs/
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jarRepositories.xml
.idea/runConfigurations.xml
.idea/vcs.xml
/.idea/runConfigurations.xml
/.idea/dictionaries/vlada.xml
